{% extends "base.html" %}

{% block content %}
<div class="impression">
    <h4 class="page-name">Pridať</h4>
    <div class="impression-inputs">
        <form method="post">
            {% csrf_token %}
            {% for fild in form %}
                <div class="impression-input">
                  {{ fild }}
                </div>
            {% endfor %}
            <button type="submit" class="impression-button">Poslat'</button>
        </form>
    </div>
    <h4 class="page-name">Recenzie</h4>
    <div class="impression-output">
        {% for post in posts %}
        <div class="post">
            {{ post.time }}
            <h6>{{ post.name }} </h6>
            {{ post.post }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}