{% extends "base.html" %}
{% load static %}

{% block content %}
<h3 class="page-name">Vitajte na stránke miestneho múzea obce Brhlovce.</h3>
<div>
    <div id='sections'>
            <div id="byt" class='section'>
                <h3 class="section-name">Byt v<br>Brhlovce</h3>
            </div>
            <div id="moto" class='section'>
                <h3 class="section-name">Staré<br>Motorky</h3>
            </div>
            <div id='zbierka' class='section'>
                <h3 class="section-name">Entomologicka<br>Zbierka</h3>
            </div>
        </div>
    <div>
        <h4 class="section-page-name">Trochu histórie</h4>
        <div class="about_us_text">
            <p>
                Naše múzeum má svoju históriu.
                Predtým v budove sídlila základná škola Brhlovchan, ktorá fungovala od 19__ roku do 19__ roku.
                Prvý kameň školy bol položený v roku 1936. Plán budovy vyhotovil Rudolf Cibulka, architekt v Leviciach.
                Stavbu prevzal Ladislav Kováč, stavebný inžinier z Levíc. Prečítajte si viac o histórii školy
                <a href="/history">tu</a>.
            </p>
        </div>
        <h4 class="section-page-name">Múzeum</h4>
        <div class="about_us_text">
            <p>Naša expozícia zahŕňa:</p>
            <ul>
                <li>Domáce potreby Brhlovchan</li>
                <li>Desiatky starých motocyklov</li>
                <li>Malú entomologickú zbierku</li>
            </ul>
            <h6>Budeme radi, ak nás navštívite</h6>
        </div>

    </div>
    <div id='place'>
        <h4 class="section-page-name">Sme tu</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d664.
                6274259455691!2d18.739275329212003!3d48.
                216059092311546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                1!3m3!1m2!1s0x476ac3a9547cfebf%3A0x124bf1a622d22835!
                2sObecne%20muzeum%20Brhlovce!5e0!3m2!1ssk!2ssk!4v1653087759734!5m2!1ssk!2ssk"
                width="100%" height="200" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                style="border:0; border-radius: 20px;">
        </iframe>
    </div>
</div>

{% endblock %}