{% extends "base.html" %}

{% block content %}
<h4 class="page-name">Obecne muzeum v Brhlovciach</h4>
<div class="page-title">
    <p style="margin: 0 2%;">Vysunutá expozícia bola verejnosti sprístupnená v roku 1992 po rozsiahlej rekonštrukcii trvajúcej jeden rok.
    Nachádza sa v centre v pamiatkovej rezervácii ľudovej architektúry v uličke „ Šurda “.
    Tvorí ju usadlosť č. 142, ktorá pozostáva z murovaného domu z konca 19. storočia, murované domu s datovaním
    1932 na priečelí domu a priestorov vysekaných do skaly v dvoch podlažiach. Na prízemí sa nachádza letná
    kuchyňa, komora a ukážky kamenárskych výrobkov a náradia, na podlaží je vyhliadková terasa a malá komôrka.
    Interiér je zariadený podľa funkcie jednotlivých miestností dobovým nábytkom a inventárom a dokumentuje
    zvláštnu formu ľudové staviteľstva a bývania od konca 19. storočia po 50. roky 20. storočia. V roku 1994
    Tekovské múzeum v Leviciach za záchranu a využitie jedinečnej kultúrnej pamiatky - expozícia Skalné obydlia
    - získalo medzinárodné ocenenie Europa Nostra, ako prvá organizácia na pôde Slovenskej republiky.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d664.6274259455691!2d18.739275329212003!3d48.216059092311546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476ac3a9547cfebf%3A0x124bf1a622d22835!2sObecne%20muzeum%20Brhlovce!5e0!3m2!1sru!2ssk!4v1653087759734!5m2!1sru!2ssk"
            width="300" height="250" style="border:0; margin: 0 2%;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

{% endblock %}