{% extends "base.html" %}

{% block content %}
<div>
    <h4 class="page-name">Obecné múzeum v Brhlovciach</h4>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d664.
        6274259455691!2d18.739275329212003!3d48.
        216059092311546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
        1!3m3!1m2!1s0x476ac3a9547cfebf%3A0x124bf1a622d22835!
        2sObecne%20muzeum%20Brhlovce!5e0!3m2!1ssk!2ssk!4v1653087759734!5m2!1ssk!2ssk"
                width="95%" height="250" style="border:0; margin: 0 2%;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div>
        <h5 class="page-name">História</h5>
        <div class="page-title">
            <div>
                <p>
                    Dňa 12.novembra 1936 bol položený základný kameň pre stavbu obecnej ľudovej školy (dnešné obecné
                    múzeum). Tomuto peknému okamihu, na ktorý väčšina ľudovej školy a občanov túžobne čakala,
                    predchádzalo a sprevádzalo mnoho udalostí.
                </p>
                <p>
                    Stará budova rímsko – katolíckej, potom obecnej ľudovej školy v Horných Brhlovciach už dávno nevyhovovala a nestačila pre 120 – 130 detí, ťažko
                    pokračovalo však vyjednávanie ohľadom stavby novej školy, najmä z finančných dôvodov. Konečne sa
                    vyhliadlo miesto pre novú školu v tunajšej obci, popri hradskej vedúcej od Horných Brhloviec na
                    pravej strane. Tam boli záhradky viacerých majiteľov s niekoľkými ovocnými stromami. Tieto obec
                    odkúpila za 8.000 korún. A teraz sa už začalo s prípravnými prácami na stavbu. Obidve obce spoločne
                    žiadali od štátu subvenciu, bez ktorej by sa nemohli pustiť do stavania, lebo obce boli v tom čase
                    malé a nemajetné. Po mnohom chodení a urgovaní obdržali obce podporu na stavbu školy v hodnote
                    130.000 Kčs.
                </p>
                <p>
                    Plán budovy vyhotovil Rudolf Cibulka, architekt v Leviciach. Stavbu prevzal Ladislav
                    Kováč, stavebný inžinier z Levíc za korún 189.000. Obce prispeli obnosom 74.000 korún
                    československých, obec Dolnie Brhlovce prispieva na stavbu 53,9 % ku všetkým nákladom a tiež v
                    tomto pomere museli dovážať kameň a štrkovinu potrebnú na stavbu. Tiež nános do budovy a na školský
                    dvor musia majitelia záprahov dovážať. Po položení základného kameňa pracovalo sa až pokiaľ neprišli
                    mrazy, základy boli hotové. Po navezení sa pracovať prestalo až do jari tohoto roku, kedy sa začalo
                    stavať plnou silou znovu. Budova bola dohotovená v septembri 1937. Práci sa musel zúčastniť každý
                    občan, či už so záprahom, alebo pešo, nútený bol nechať svoju, i najsúrnejšiu prácu a na rozkaz ísť
                    ku škole. Priestranstvo kolem budovy bolo denne plné pracujúcim národom. Ťažko to išlo, i pohundrali
                    niektorí, i nespokojencov bolo dosť, ale zase i dosť tých, čo bez slova prinášali každú obeť.
                    Výsledok obetavej práce je tu, krásna, poschodová budova s 2 triedami, učiteľským bytom, veľké
                    obloky ktorej sa akoby prívetivo usmievali na každého. Budova nesie nápis: „Obecná ľudová škola 1937.
                    “
                </p>
                <p>
                    Po dohotovení budovy bolo treba ešte navážať okolo budovy, tiež ešte dvor i záhrada neboli ohradené.
                    Zostávajúci obnos sa dal na zaplatenie ohrady. Okolo školského dvora sa tiahne ohrada, ktorej základ
                    je beton a na ňom železná ohrada i 2 brány železné. Murársku prácu zhotovil Karol Homoľa murársky
                    majster, kováčsku prácu previedol Jozef Kristín, kováč tunajší. Ďalšie ohradenie záhrady bude drevené,
                    táto práca bude prevedená až v roku 1938. Len čo sa tieto práce skončili, prenieslo sa školské náradie
                    a počalo sa učiť v novej budove 4.novembra 1937.
                </p>
                <p>
                    Slávnostné otvorenie školy bolo až 5 decembra. Povolaných bolo viac hostí z okolia, tiež zástupcovia úradov, väčšina ktorých sa tiež slávnosti
                    zúčastnilo. Počasie bolo natoľko dobré, že sa slávnosť mohla odbaviť vonku. Mimo zástupcov úradov
                    a školského inšpektorátu, boli tiež prítomní niektorí páni učitelia z okolia, a takmer všetko
                    občianstvo obidvoch obcí. Bol poslaný pozdravný telegram pánu krajinskému prezidentovi Jozefovi Országhovi.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}