{% extends "base.html" %}

{% block content %}
<div>
    <h4 class="page-name">Otvaracie hodiny</h4>
    <div class="page-title">
        <table width="100%" cellspacing="1">
            <tr>
                <td>Pondelok:</td>
                <td class="wo-time">9.00 - 16.00</td>
            </tr>
            <tr>
                <td>Utorok:</td>
                <td class="wo-time">9.00 - 16.00</td>
            </tr>
            <tr>
                <td>Streda:</td>
                <td class="wo-time">9.00 - 16.00</td>
            </tr>
            <tr>
                <td>Štvrtok:</td>
                <td class="wo-time">9.00 - 16.00</td>
            </tr>
            <tr>
                <td>Piatok:</td>
                <td class="wo-time">9.00 - 16.00</td>
            </tr>
            <tr>
                <td>Sobota:</td>
                <td class="wo-time">9.00 - 16.00</td>
            </tr>
            <tr>
                <td>Nedeľa:</td>
                <td class="wo-time">9.00 - 16.00</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}