footer {
    margin: 5% 5%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid;
    border-color: gray;
}
footer div {
    display: flex;
    flex-direction: column;
}
.foo-links {
    color: #0258a3;
    text-decoration: none;
    margin-bottom: 1%;
}