
/* */
#sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
}
.section {
    padding: 1%;
    height: 50vh;
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
#byt {background-image: url(../img/3.jpg);}
#moto {background-image: url(../img/8.jpg);}
#zbierka {background-image: url(../img/3.jpg);}

.section-name {color: white;}

/* */
.about_us_text { margin: 0 2%; }
.section-page-name {
    margin: 2% 0;
    padding: 1%;
    border-bottom: 1px solid;
}


/* */
#place {
    margin: 2% 0;
}
#place-info{ font-weight: bold; }