@media screen and (max-width: 760px) {
    main {
        margin: 0 10%;
    }
    /* Navbar */
    .nav {
        flex-direction: column;
    }
    .nav-main {
        width: 100%;
        flex-direction: column;
    }
    .nav-img {
        margin-right: none;
        margin-bottom: 3%;
    }
    .nav-bar {
        width: 100%;
        justify-content: center;
    }
    /* Impression */
    .impression {
       flex-direction: column;
       justify-content: normal;
       align-items: normal;
    }
}

@media screen and (max-width: 450px) {
    h6 {
        font-size: 80%;
    }
}