body {font-family: 'Quicksand', sans-serif;}

a {
    font-weight: bold;
    font-size: 100%;
}
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main page */
main {
    margin: 0 10%;
    flex: 1;
}
.page-name {margin: 3% 0;}
.page-title {margin: 2% 0;}

/* impression */
.impression {
    margin: 2% 8%;
    display: flex;
    flex-direction: column;
}
.impression-output{
    height: 200px;
    overflow: auto;
    margin: 0 2%;
}
.post {margin: 2% 2%;}

#add-impression form {
    display: flex;
    flex-direction: column;
}
#id_name {margin-bottom: 2%; border-width: 0 0 1px 0;}
#id_post {margin-bottom: 2%; border: 0;}

.impression-input {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}
.impression-button {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #0258a3;
    color: #ffffff;
}

/* working-hours */
.wo-time {margin: 0 1%;}
