<div style="display: flex; justify-content: center; background-color: #0258a3; color: white; padding: 1%;">
  <h5>Otváracie hodiny: Pon-Pia: 8:00-21:00, So-Ne: 9:00-18:00</h5>
</div>
<div class="nav">
  <div class="nav-main">
    <img src="https://slovenskycestovatel.sk/images/erbs/218/brhlovce.jpg" alt="Erb" class="nav-img">
    <a href="/" style="text-decoration: none; color: black;"><h5>Obecné múzeum</h5></a>
  </div>
  <div class="nav-bar">
    <a href="/" class="nav-bar-link">
      <h6>O múzeu</h6>
    </a>
    <a href="/impression" class="nav-bar-link">
      <h6>Recenzie</h6>
    </a>
    <a href="/history" class="nav-bar-link">
      <h6>História</h6>
    </a>
    <a href="/photo_gallery" class="nav-bar-link">
      <h6>Fotogaléria</h6>
    </a>
  </div>
</div>
