{% load static %}

<div style="display: flex; justify-content: center; background-color: #0258a3; color: white; padding: 1%;">
  <h5>Otváracie hodiny: Pon-Pia: 8:00-21:00, So-Ne: 9:00-18:00</h5>
</div>
<div class="nav">
  <div class="nav-main">
    <a id="nav-img-link" href="/">
      <img src="{% static 'img/logo.png' %}" alt="Erb" class="nav-img">
    </a>
  </div>
  <div class="nav-bar">
    <a href="/" class="nav-bar-link">
      <h6 class="nav-bar-font">Múzeum</h6>
    </a>
    <a href="/impression" class="nav-bar-link">
      <h6 class="nav-bar-font">Recenzie</h6>
    </a>
    <a href="/history" class="nav-bar-link">
      <h6 class="nav-bar-font">História</h6>
    </a>
    <a href="/photo_gallery" class="nav-bar-link">
      <h6 class="nav-bar-font">Fotogaléria</h6>
    </a>
  </div>
</div>
